{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded">
    <title>Awesome Blog</title>
  </head>
  <body>
	<a href="/">back</a>
	<h1>Sorry, page doesn't exist...</h1>
  </body>
</html>
