{% extends 'index.html' %}
{% load get_info  staticfiles %}
{% block category %}
	<div id="post">
		<h1>{{ article.title }}</h1>
		{% for tag in tags %}
		    <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
		{% endfor %}
		<br>
		<img src="{{ MEDIA_URL }}{{ article.image.url }}" class="article_img" />
		<p>
		   {{ article.text }}
		</p>
		<hr>
		<h1>Comments:</h1>
		  {% for comment in comments %}
		    <div class="comment">
		      {% autoescape off %} 
		        {% if comment.author == 'admin' %}
			  {% render_avatar comment.author %}
 		        {% elif comment.author == 'Anonymous' %}
			  {% render_avatar comment.author %}
		        {% else %}
			  {% render_avatar 'user' %}
		        {% endif %}
		      {% endautoescape %}
		      <p>{{ comment.author }} / {{ comment.email }} / {{ comment.website }}</p>
		      <p>{{ comment.comment }}</p>
		    </div>
		  {% endfor %}
		<hr>
		<form class="form-horizontal" role="form" method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="form-group">
		          <div class="col-sm-12">
			    {{ form.comment.errors }}
			    {{ form.comment }}
		          </div>
		        </div>
			{% if not request.user.is_authenticated %}
				<div class="form-group">
				  <div class="col-sm-12">
				    {{ form.author.errors }}
				    {{ form.author }}
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-12">
				    {{ form.email.errors }}
				    {{ form.email }}<br>
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-12">
				    {{ form.website.errors }}
				    {{ form.website }}
				  </div>
				</div>
			{% endif %}
			<div class="col s6">
			  <div class="form-group">
				<input type="submit" onclick="validate(event, this.form)" class="btn btn-default" value="Leave comment" style="width:130px;">
			  </div>
			</div>
		    </div>
		</form>
	</div>
{% endblock %}
