{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded">
    <title>Awesome Blog</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
	$(document).ready(function(){
	    $("#id_comment").addClass("form-control");
	    $("input").addClass("form-control");
	});
    </script>
  </head>
  <body>
	<div id="wrap">
		<header>
			<a href="/"><img src="/static/img/blog.png" height="70" width="110"></a>
			<p>< Welcome to our awesome blog /></p>
		</header>
		<div id="categories">
		    {% for category in categories %}
			<a class="category" href="{% url 'category' category.id %}">{{ category.name }}</a>
		    {% endfor %}		
		</div>	
		<div id="articles">
			{% block last_posts %}{% endblock %}
			{% block category %}{% endblock %}
			{% block article %}{% endblock %}
		</div>
			
	</div>  
  </body>
</html>
