{% extends 'index.html' %}
{% load staticfiles %}
{% block last_posts %}
    <h1>Recently posted articles</h1>
    {% for article in articles %}
	<div class="article">
		<a href="{% url 'article' article.id %}"><h4>{{ article.title }}</h4></a>
		<p>
		   {{ article.text }}
		</p>
		<img src="/static/img/comment.png" height="30" width="30">{{ article.comments__count }}
		<a href="{% url 'category' article.category.id %}">#{{ article.category.name }}#</a>
	</div>
    {% endfor %}

{% endblock %}
