{% extends 'index.html' %}
{% load staticfiles %}
{% block last_posts %}
    <h1>Recently posted articles</h1>
    {% for article in articles %}
        {% for art in article %}
	<div class="article">
		<a href="{% url 'article' art.id %}"><h4>{{ art.title }}</h4></a>
		<p>
		   {{ art.text }}
		</p>
		<img src="/static/img/comment.png" height="30" width="30">{{ art.comments__count }}
		<a href="{% url 'category' art.category.id %}">#{{ art.category.name }}#</a>
	</div>
        {% endfor %}
    {% endfor %}

{% endblock %}
