
#wrap {
	display: block;
	width: 100%;
	margin: 0 auto;
	font-family: "Lucida Console", Monaco, monospace;
}

header { margin: 10px 25px 50px 50px;}
header p {
	display: inline-block;
	margin-left: 100px;
	color: #0066ff;
	font-size: 20px;
}


#categories {
	display: block;
	float: left;
	position: fixed;
	width: 20%;
	margin-top: 70px;
}

.category {
	display: block;
	padding: 5px;
	margin: 10px;
	text-decoration: none;
	border: 1px solid blue;
	color: #fff;
	background: #0059b3;
	text-transform: uppercase;
}
.category:hover {
	text-decoration: none;
	border: 1px dashed #fff;
	color: #fff;
	background: #0080ff;
}



#articles {
	display: block;
	float: right;
	width: 75%;
	margin: 0 30px 0 30px;
}

.article {
	display: inline-block;
	width: 30%;
	margin: 0 10px 0 10px;
	border: 2px solid #8c8c8c;
	border-radius: 3px;
	background: #e6f5ff;
}
.article:hover { box-shadow: 0 0 10px rgba(0,0,0,0.5); }
.article a {
	text-decoration: none;
	color: #0066ff;
}
.article a:hover {
	text-decoration: underline;
}
.article p {
	height: 100px;
	overflow: hidden;
	text-overflow: ellipsis; 
}
.article_img {
	height: 300px;
	width: 450px;
}



#categ h1 {
	text-transform: uppercase;
	border-bottom: 2px solid #000;
}




.form-horizontal {
	width: 350px;
}
.form-group {
	width: 350px;
	margin-left: 0;
}


.error input, .error textarea {
	border: 1px solid red;
}

.error {
	color: red;
}


.errorlist li {
	color: red;
	list-style: none;
}




.comment {
	background: #E6EFF2;
	width: 50%;
}

